<html>
  <head>
    <title>Admission Enquiry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
  
    <div class="mt-3">
      <center> <h3> BLDEA's Commerce BHS Arts and TGP Science College Jamakhandi  </h3></center>
    </div>
   
  
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
       <h4> <a class="nav-link active" href="/course">Courses</a></h4>
      </li>
      <li class="nav-item">
        <h4><a class="nav-link active" href="/eform">Enquiry Form</a></h4>
      </li>
      <li class="nav-item">
        <h4><a class="nav-link active" href="/idcard">Id Card</a></h4>
      </li>
      <li class="nav-item">
        <h4> <a class="nav-link active" href="/facility">Facilities</a></h4>
      </li>
      <li class="nav-item">
        <h4> <a class="nav-link active" href="/logout">Logout</a></h4>
      </li>
  
    </ul>
  </div>
  </nav>
  <style>
  nav{
    justify-content: center;
  }
  </style>
  
        
       
<!--courses available in college-->
      <div class="container mt-3">
        <h3>UNDER GRADUATE(U.G) COURSES OFFERED</h3>
        <h5>Available Courses are:</h5>            
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Professional Courses</th>
              <th>Non Professional Courses</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>B.B.A : Bachelor of Business Administration</td>
              <td>B.A : Bachelor of Arts</td>
           </tr>
            <tr>
              <td>B.C.A : Bachelor of Computer Application</td>
              <td>B.Com : Bachelor of Commerce</td>
            </tr>
            <tr>
              <td>B.sc.(CS) : Bachelor of Science in Computer Science</td>
              <td>B.sc. : Bachelor of Science </td>
              </tr>
          </tbody>
        </table><br/>
        

        <h3>ELIGIBILITY CRITERIA</h3>
        <p>U.G. is a 3 years course that can be pursued by students with Science/Arts/Commerce streams in thier 10+2.
            The Students with the I.T.I ,Diploma streams also eligible for U.G. course admission.
        </p>
      </div><br/>

<!--courses and subjects and syllabus-->
<div class="container mt-3">
  <h3>Subjects of Every Course</h3>
  <p>Subject and Syllabus of every course</p>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Syllabus of Courses</button><br/><br/>
  <div id="demo" class="collapse">
   <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#ba">B.A</button>
   <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcom">B.Com</button>&nbsp
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bsc">B.Sc</button>&nbsp
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bba">B.B.A</button>&nbsp
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bca">B.C.A</button>&nbsp
  </div>
   </div>

<div class="container mt-3">
   <div id="ba" class="collapse">
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#basem1">1st semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#basem2">2nd semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#basem3">3rd semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#basem4">4th semester</button>
   </div>
</div>

<div class="container mt-3">
   <div id="bcom" class="collapse">
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcomsem1">1st semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcomsem2">2nd semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcomsem3">3rd semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcomsem4">4th semester</button>
   </div>
 </div>

 <div class="container mt-3">
   <!--BSC SYLLABUS STARTS-->
 <div id="bsc" class="collapse">
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bscsem1">1st semester</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bscsem2">2nd semester</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bscsem3">3rd semester</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bscsem4">4th semester</button>
 </div>
 </div>
 
 <div class="container mt-3">
 <!--BBA SYLLABUS STARTS-->
 <div id="bba" class="collapse">
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bbasem1">1st semester</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bbasem2">2nd semester</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bbasem3">3rd semester</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bbasem4">4th semester</button>
 </div>
 </div>

 <div class="container mt-3">
  <!--BCA SYLLABUS STARTS-->
  <div id="bca" class="collapse">
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcasem1">1st semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcasem2">2nd semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcasem3">3rd semester</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#bcasem4">4th semester</button>
   </div>
</div>

<!--BA 1 to 4 SEMESTER SYLLABUS -->
<div class="container mt-3">
  <!--BA 1ST SEMESTER SYLLABUS -->
<div id="basem1" class="collapse">
  <h4>B.A 1st Semester Syllabus</h4><br/>
 1.HISTORY
  <a href="{{ url_for('static',filename='ba/basem1/bah1.pdf') }}">(CLICK HERE)</a><br/><br/>
2.POLITICAL SCIENCE
<a href="{{ url_for('static',filename='ba/basem1/bapol1.pdf') }}">(CLICK HERE)</a><br/><br/>
3.ECONOMICS
<a href="{{ url_for('static',filename='ba/basem1/baeco1.pdf') }}">(CLICK HERE)</a><br/><br/>
4.SOCIOLOGY
<a href="{{ url_for('static',filename='ba/basem1/bas1.pdf') }}">(CLICK HERE)</a><br/><br/>
5.APPLICATION STATISTICS
<a href="{{ url_for('static',filename='ba/basem1/bastat1.pdf') }}">(CLICK HERE)</a><br/><br/>
</div>

 <!--BA 2nd SEMESTER SYLLABUS -->
 <div id="basem2" class="collapse">
  <h4>B.A 2ND Semester Syllabus</h4><br/>
 1.HISTORY
  <a href="{{ url_for('static',filename='ba/basem2/bah2.pdf') }}">(CLICK HERE)</a><br/><br/>
2.POLITICAL SCIENCE
<a href="{{ url_for('static',filename='ba/basem2/bapol2.pdf') }}">(CLICK HERE)</a><br/><br/>
3.ECONOMICS
<a href="{{ url_for('static',filename='ba/basem2/baeco2.pdf') }}">(CLICK HERE)</a><br/><br/>
4.SOCIOLOGY
<a href="{{ url_for('static',filename='ba/basem2/bas2.pdf') }}">(CLICK HERE)</a><br/><br/>
5.APPLICATION STATISTICS
<a href="{{ url_for('static',filename='ba/basem2/bastat2.pdf') }}">(CLICK HERE)</a><br/><br/>
</div>

 <!--BA 3rd SEMESTER SYLLABUS -->
 <div id="basem3" class="collapse">
  <h4>B.A 3rd Semester Syllabus</h4><br/>
 1.HISTORY
  <a href="{{ url_for('static',filename='ba/basem3/bah3.pdf') }}">(CLICK HERE)</a><br/><br/>
2.POLITICAL SCIENCE
<a href="{{ url_for('static',filename='ba/basem3/bapol3.pdf') }}">(CLICK HERE)</a><br/><br/>
3.ECONOMICS
<a href="{{ url_for('static',filename='ba/basem3/baeco3.pdf') }}">(CLICK HERE)</a><br/><br/>
4.SOCIOLOGY
<a href="{{ url_for('static',filename='ba/basem3/bas3.pdf') }}">(CLICK HERE)</a><br/><br/>
5.APPLICATION STATISTICS
<a href="{{ url_for('static',filename='ba/basem3/bastat3.pdf') }}">(CLICK HERE)</a><br/><br/>
</div>

 <!--BA 4th SEMESTER SYLLABUS -->
 <div id="basem4" class="collapse">
  <h4>B.A 4TH Semester Syllabus</h4><br/>
 1.HISTORY
  <a href="{{ url_for('static',filename='ba/basem4/bah4.pdf') }}">(CLICK HERE)</a><br/><br/>
2.POLITICAL SCIENCE
<a href="{{ url_for('static',filename='ba/basem4/bapol4.pdf') }}">(CLICK HERE)</a><br/><br/>
3.ECONOMICS
<a href="{{ url_for('static',filename='ba/basem4/baeco4.pdf') }}">(CLICK HERE)</a><br/><br/>
4.SOCIOLOGY
<a href="{{ url_for('static',filename='ba/basem4/bas4.pdf') }}">(CLICK HERE)</a><br/><br/>
5.APPLICATION STATISTICS
<a href="{{ url_for('static',filename='ba/basem4/bastat4.pdf') }}">(CLICK HERE)</a><br/><br/>
</div>
</div>

<!--B.com 1 to 4 SEMESTER SYLLABUS --> 
<div class="container mt-3">
 <!--BCOM 1ST SEMESTER SYLLABUS -->
  <div id="bcomsem1" class="collapse">
    <h4>B.com 1st Semester Syllabus</h4><br/>
   1.FINANCIAL ACCOUNTING
    <a href="{{ url_for('static',filename='bcom_pdf1/financial.pdf') }}">(CLICK HERE)</a><br/><br/>
   2.MANAGEMENT PRINCIPLES AND APPLICATIONS
     <a href="{{ url_for('static',filename='bcom_pdf1/management.pdf') }}">(CLICK HERE)</a><br/><br/>
   3. PRINCIPLES OF MARKETING
     <a href="{{ url_for('static',filename='bcom_pdf1/principles.pdf') }}">(CLICK HERE)</a><br/><br/>
   4.ENTREPRENEURSHIP DEVELOPMENT
     <a href="{{ url_for('static',filename='bcom_pdf1/entreprenuar.pdf') }}">(CLICK HERE)</a><br/><br/>
   5.ACCOUNTING FOR EVERYONE
     <a href="{{ url_for('static',filename='bcom_pdf1/accounts.pdf') }}">(CLICK HERE)</a>
   </div>

 <!--BCOM 2ND SEMESTER SYLLABUS -->
  <div id="bcomsem2" class="collapse mt-2">
    <h4>B.com 2nd Semester Syllabus</h4><br/>
   1.ADVANCED FINANCIAL ACCOUNTING
    <a href="{{ url_for('static',filename='bcom_pdf2/advanced.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.BUSINESS MATHEMATICS 
     <a href="{{ url_for('static',filename='bcom_pdf2/business.pdf') }}">(CLICK HERE)</a><br/><br/>
  3. CORPORATE ADMINISTRATION
     <a href="{{ url_for('static',filename='bcom_pdf2/corporate.pdf') }}">(CLICK HERE)</a><br/><br/>
  4. LAW AND PRACTICE OF BANKING
     <a href="{{ url_for('static',filename='bcom_pdf2/law.pdf') }}">(CLICK HERE)</a><br/><br/>
  5.EVENT MANAGEMENT
     <a href="{{ url_for('static',filename='bcom_pdf2/event.pdf') }}">(CLICK HERE)</a><br/><br/>
  6.INVESTING IN STOCK MARKETS
     <a href="{{ url_for('static',filename='bcom_pdf2/investment.pdf') }}">(CLICK HERE)</a>
   </div>

 <!--BCOM 3rd SEMESTER SYLLABUS -->
 <div id="bcomsem3" class="collapse" style="margin-top:10px;">
  <h4>B.com 3rd Semester Syllabus</h4><br/>
 1.CORPORATE ACCOUNTING
  <a href="{{ url_for('static',filename='bcom_3rdsempdf/bcom3semcorporate.pdf') }}">(CLICK HERE)</a><br/><br/>
 2.BUSINESS STATISTICS
  <a href="{{ url_for('static',filename='bcom_3rdsempdf/bcom3sembusiness1.pdf') }}">(CLICK HERE)</a><br/><br/>
 3. COST ACCOUNTING
  <a href="{{ url_for('static',filename='bcom_3rdsempdf/cost_account.pdf') }}">(CLICK HERE)</a><br/><br/>
 4. FINANCIAL EDUCATION & INVESTMENT AWARENESS
 <a href="{{ url_for('static',filename='bcom_3rdsempdf/financial_educate.pdf') }}">(CLICK HERE)</a><br/><br/>
 </div>
 
<!--BCOM 4TH SEMESTER SYLLABUS -->
 <div id="bcomsem4" class="collapse" style="margin-top:10px;">
  <h4>B.com 4th Semester Syllabus</h4><br/>
  1. ADVANCED COPORATE ACCOUNTING
  <a href="{{ url_for('static',filename='bcom4thsem/advanced_corporate.pdf') }}">(CLICK HERE)</a><br/><br/>
  2. COSTING METHODS AND TECHNIQUES
  <a href="{{ url_for('static',filename='bcom4thsem/costing_method.pdf') }}">(CLICK HERE)</a><br/><br/>
  3. BUSINESS REGULATORY FRAMEWORK
  <a href="{{ url_for('static',filename='bcom4thsem/business_regular.pdf') }}">(CLICK HERE)</a><br/><br/>
 </div>
 </div>


 <!--Bsc 1 to 4 SEMESTER SYLLABUS -->
 <div class="container mt-3">
  <!--Bsc 1ST SEMESTER SYLLABUS -->
<div id="bscsem1" class="collapse">
  <h4>Bsc 1st Semester Syllabus</h4><br/>
 1.PHYSICS
  <a href="{{ url_for('static',filename='bsc/bscsem1/bscp1.pdf') }}">(CLICK HERE)</a><br/><br/>
2.CHEMISTRY
<a href="{{ url_for('static',filename='bsc/bscsem1/bscc1.pdf') }}">(CLICK HERE)</a><br/><br/>
3.MATHEMATICS
<a href="{{ url_for('static',filename='bsc/bscsem1/bscm1.pdf') }}">(CLICK HERE)</a><br/><br/>
4.BOTONY
<a href="{{ url_for('static',filename='bsc/bscsem1/bscb1.pdf') }}">(CLICK HERE)</a><br/><br/>
5.ZOOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem1/bscz1.pdf') }}">(CLICK HERE)</a><br/><br/>
6.COMPUTER SCIENCE
<a href="{{ url_for('static',filename='bsc/bscsem1/bsccs1.pdf') }}">(CLICK HERE)</a><br/><br/>
7.ELECTRONICS
<a href="{{ url_for('static',filename='bsc/bscsem1/bsce1.pdf') }}">(CLICK HERE)</a><br/><br/>
8.STATISTICS
<a href="{{ url_for('static',filename='bsc/bscsem1/bscstat1.pdf') }}">(CLICK HERE)</a><br/><br/>
9.BIOTECHNOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem1/bscbt1.pdf') }}">(CLICK HERE)</a><br/><br/><br/>
</div>

<!--Bsc 2nd SEMESTER SYLLABUS -->
<div id="bscsem2" class="collapse">
  <h4>Bsc 2nd Semester Syllabus</h4><br/>
 1.PHYSICS
  <a href="{{ url_for('static',filename='bsc/bscsem2/bscp2.pdf') }}">(CLICK HERE)</a><br/><br/>
2.CHEMISTRY
<a href="{{ url_for('static',filename='bsc/bscsem2/bscc2.pdf') }}">(CLICK HERE)</a><br/><br/>
3.MATHEMATICS
<a href="{{ url_for('static',filename='bsc/bscsem2/bscm2.pdf') }}">(CLICK HERE)</a><br/><br/>
4.BOTONY
<a href="{{ url_for('static',filename='bsc/bscsem2/bscb2.pdf') }}">(CLICK HERE)</a><br/><br/>
5.ZOOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem2/bscz2.pdf') }}">(CLICK HERE)</a><br/><br/>
6.COMPUTER SCIENCE
<a href="{{ url_for('static',filename='bsc/bscsem2/bsccs2.pdf') }}">(CLICK HERE)</a><br/><br/>
7.ELECTRONICS
<a href="{{ url_for('static',filename='bsc/bscsem2/bsce2.pdf') }}">(CLICK HERE)</a><br/><br/>
8.STATISTICS
<a href="{{ url_for('static',filename='bsc/bscsem2/bscstat2.pdf') }}">(CLICK HERE)</a><br/><br/>
9.BIOTECHNOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem2/bscbt2.pdf') }}">(CLICK HERE)</a><br/><br/>
</div>

<!--Bsc 3rd SEMESTER SYLLABUS -->
<div id="bscsem3" class="collapse">
  <h4>Bsc 3rd Semester Syllabus</h4><br/>
 1.PHYSICS
  <a href="{{ url_for('static',filename='bsc/bscsem3/bscp3.pdf') }}">(CLICK HERE)</a><br/><br/>
2.CHEMISTRY
<a href="{{ url_for('static',filename='bsc/bscsem3/bscc3.pdf') }}">(CLICK HERE)</a><br/><br/>
3.MATHEMATICS
<a href="{{ url_for('static',filename='bsc/bscsem3/bscm3.pdf') }}">(CLICK HERE)</a><br/><br/>
4.BOTONY
<a href="{{ url_for('static',filename='bsc/bscsem3/bscb3.pdf') }}">(CLICK HERE)</a><br/><br/>
5.ZOOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem3/bscz3.pdf') }}">(CLICK HERE)</a><br/><br/>
6.COMPUTER SCIENCE
<a href="{{ url_for('static',filename='bsc/bscsem3/bsccs3.pdf') }}">(CLICK HERE)</a><br/><br/>
7.ELECTRONICS
<a href="{{ url_for('static',filename='bsc/bscsem3/bsce3.pdf') }}">(CLICK HERE)</a><br/><br/>
8.STATISTICS
<a href="{{ url_for('static',filename='bsc/bscsem3/bscstat3.pdf') }}">(CLICK HERE)</a><br/><br/>
9.BIOTECHNOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem3/bscbt3.pdf') }}">(CLICK HERE)</a><br/><br/>
</div>

<!--Bsc 4th SEMESTER SYLLABUS -->
<div id="bscsem4" class="collapse">
  <h4>Bsc 4th Semester Syllabus</h4><br/>
 1.PHYSICS
  <a href="{{ url_for('static',filename='bsc/bscsem4/bscp4.pdf') }}">(CLICK HERE)</a><br/><br/>
2.CHEMISTRY
<a href="{{ url_for('static',filename='bsc/bscsem4/bscc4.pdf') }}">(CLICK HERE)</a><br/><br/>
3.MATHEMATICS
<a href="{{ url_for('static',filename='bsc/bscsem4/bscm4.pdf') }}">(CLICK HERE)</a><br/><br/>
4.BOTONY
<a href="{{ url_for('static',filename='bsc/bscsem4/bscb4.pdf') }}">(CLICK HERE)</a><br/><br/>
5.ZOOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem4/bscz4.pdf') }}">(CLICK HERE)</a><br/><br/>
6.COMPUTER SCIENCE
<a href="{{ url_for('static',filename='bsc/bscsem4/bsccs4.pdf') }}">(CLICK HERE)</a><br/><br/>
7.ELECTRONICS
<a href="{{ url_for('static',filename='bsc/bscsem4/bsce4.pdf') }}">(CLICK HERE)</a><br/><br/>
8.STATISTICS
<a href="{{ url_for('static',filename='bsc/bscsem4/bscstat4.pdf') }}">(CLICK HERE)</a><br/><br/>
9.BIOTECHNOLOGY
<a href="{{ url_for('static',filename='bsc/bscsem4/bscbt4.pdf') }}">(CLICK HERE)</a><br/><br/>
</div>
</div>


  <!--BBA 1 to 4 SEMESTER SYLLABUS -->
  <div class="container mt-3">
    <!--BBA 1ST SEMESTER SYLLABUS -->
  <div id="bbasem1" class="collapse">
    <h4>BBA 1st Semester Syllabus</h4><br/>
   1.MANAGEMENT PRINCIPLES AND PRACTICE
    <a href="{{ url_for('static',filename='bba/bba1sem/bba1manage.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.FUNDAMENTALS OF BUSINESS ACCOUNTING
   <a href="{{ url_for('static',filename='bba/bba1sem/bba1funda.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.MARKETING MANAGEMENT
   <a href="{{ url_for('static',filename='bba/bba1sem/bba1market.pdf') }}">(CLICK HERE)</a><br/><br/>
  4.PERSONALITY DEVELOPMENT
   <a href="{{ url_for('static',filename='bba/bba1sem/bba1pd.pdf') }}">(CLICK HERE)</a><br/><br/>
  5.E-COMMERCE
   <a href="{{ url_for('static',filename='bba/bba1sem/bba1ecommerce.pdf') }}">(CLICK HERE)</a><br/><br/>
  </div>

   <!--BBA 2nd SEMESTER SYLLABUS -->
  <div id="bbasem2" class="collapse">
    <h4>BBA 2nd Semester Syllabus</h4><br/>
   1.CORPORATE ACCOUNTING AND REPORTING
    <a href="{{ url_for('static',filename='bba/bba2sem/bba2corporate.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.HUMAN RESOURCE MANAGEMENT
   <a href="{{ url_for('static',filename='bba/bba2sem/bba2hr.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.BUSINESS ENVIRONMENT
   <a href="{{ url_for('static',filename='bba/bba2sem/bba2business.pdf') }}">(CLICK HERE)</a><br/><br/>
  4.TOURISM & HOSPITALITY MANAGEMENT
   <a href="{{ url_for('static',filename='bba/bba2sem/bba2tour.pdf') }}">(CLICK HERE)</a><br/><br/>
  5.RETAIL MANAGEMENT
   <a href="{{ url_for('static',filename='bba/bba2sem/bba2retail.pdf') }}">(CLICK HERE)</a><br/><br/>
  </div>

   <!--BBA 3rd SEMESTER SYLLABUS -->
  <div id="bbasem3" class="collapse">
    <h4>BBA 3rd Semester Syllabus</h4><br/>
   1.COST ACCOUNTING
    <a href="{{ url_for('static',filename='bba/bba3sem/bba3costaccount.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.ORGANIZATIONAL BEHAVIOR
   <a href="{{ url_for('static',filename='bba/bba3sem/bba3organization.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.STATISTICS FOR BUSINESS DECISIONS
   <a href="{{ url_for('static',filename='bba/bba3sem/bba3stat.pdf') }}">(CLICK HERE)</a><br/><br/>
  4.FINANCIAL EDUCATION AND INVESTMENT AWARENESS
   <a href="{{ url_for('static',filename='bba/bba3sem/bba3feia.pdf') }}">(CLICK HERE)</a><br/><br/>
  </div>

  <!--BBA 4th SEMESTER SYLLABUS -->
  <div id="bbasem4" class="collapse">
    <h4>BBA 4th Semester Syllabus</h4><br/>
   1.MANAGEMENT ACCOUNTING
    <a href="{{ url_for('static',filename='bba/bba4sem/bba4manage.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.BUSINESS ANALYTICS
   <a href="{{ url_for('static',filename='bba/bba4sem/bba4business.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.FINANCIAL MARKETS AND SERVICES
   <a href="{{ url_for('static',filename='bba/bba4sem/bba4finanmarket.pdf') }}">(CLICK HERE)</a><br/><br/>
  4.FINANCIAL MANAGEMENT
   <a href="{{ url_for('static',filename='bba/bba4sem/bba4finanmanage.pdf') }}">(CLICK HERE)</a><br/><br/>
  </div>
  </div>
  



  <!--BCA 1 to 4 SEMESTER SYLLABUS -->
  <div class="container mt-3">
    <!--BCA 1ST SEMESTER SYLLABUS -->
  <div id="bcasem1" class="collapse">
    <h4>BCA 1st Semester Syllabus</h4><br/>
   1.PROGRAMMING IN C
    <a href="{{ url_for('static',filename='bca1sem/c_program.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.COMPUTER FUNDAMENTALS
  <a href="{{ url_for('static',filename='bca1sem/computer_fundamental.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.MATHEMATICAL FOUNDATION
  <a href="{{ url_for('static',filename='bca1sem/bca1maths.pdf') }}">(CLICK HERE)</a><br/><br/>
  4.ACCOUTANCY
  <a href="{{ url_for('static',filename='bca1sem/bca1account.pdf') }}">(CLICK HERE)</a><br/><br/>
  </div>

  <!--BCA 2nd SEMESTER SYLLABUS -->
  <div id="bcasem2" class="collapse">
    <h4>BCA 2nd Semester Syllabus</h4><br/>
   1.DATA STRUCTURES USING C
    <a href="{{ url_for('static',filename='bca2sem/bca2_datastructure.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.OBJECT ORIENTED CONCEPTS USING JAVA
  <a href="{{ url_for('static',filename='bca2sem/bca2_java.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.DISCRETE MATHEMATICS
  <a href="{{ url_for('static',filename='bca2sem/bca2dis_maths.pdf') }}">(CLICK HERE)</a><br/><br/>
  4.WEB DESIGNING
  <a href="{{ url_for('static',filename='bca2sem/bca2_webdesign.pdf') }}">(CLICK HERE)</a><br/><br/>
  </div>

  <!--BCA 3rd SEMESTER SYLLABUS -->
  <div id="bcasem3" class="collapse">
    <h4>BCA 3rd Semester Syllabus</h4><br/>
   1.DATABASE MANAGEMENT SYSTEM
    <a href="{{ url_for('static',filename='bca3sem/bca3_dbms.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.C# AND .NET FRAMEWORK
  <a href="{{ url_for('static',filename='bca3sem/bca3_c#.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.COMPUTER COMMUNICATION AND NETWORKS
  <a href="{{ url_for('static',filename='bca3sem/bca3_cn.pdf') }}">(CLICK HERE)</a><br/><br/>
  4.PYTHON PROGRAMMING CONCEPTS
  <a href="{{ url_for('static',filename='bca3sem/bca3_pythonconcept.pdf') }}">(CLICK HERE)</a><br/><br/>
  </div>

  <!--BCA 4th SEMESTER SYLLABUS -->
  <div id="bcasem4" class="collapse">
    <h4>BCA 4th Semester Syllabus</h4><br/>
   1.PYTHON PROGRAMMING
    <a href="{{ url_for('static',filename='bca4sem/bca4_python.pdf') }}">(CLICK HERE)</a><br/><br/>
  2.MULTIMEDIA AND ANIMATION
  <a href="{{ url_for('static',filename='bca4sem/bca4_animation.pdf') }}">(CLICK HERE)</a><br/><br/>
  3.OPERATING SYSTEM CONCEPTS
  <a href="{{ url_for('static',filename='bca4sem/bca4_os.pdf') }}">(CLICK HERE)</a><br/><br/>
 </div>
</div>  

</body>
</html>
